:deep(.card) {
  width: 100%;
  border-radius: 0;
  box-shadow: 1px 0 #f0f0f0, 0 1px #f0f0f0, 1px 1px #f0f0f0, 1px 0 #f0f0f0 inset, 0 1px #f0f0f0 inset;
  border: 0;

  &:hover {
    position: relative;
    z-index: 5;
  }
}
