@mixin flex-common {
  &.start {
    justify-content: flex-start;
  }

  &.end {
    justify-content: flex-end;
  }

  &.center {
    justify-content: center;
  }

  &.between {
    justify-content: space-between;
  }

  &.around {
    justify-content: space-around;
  }

  &.align-start {
    align-items: flex-start;
  }

  &.align-end {
    align-items: flex-end;
  }

  &.align-center {
    align-items: center;
  }

  &.align-baseline {
    align-items: baseline;
  }

  &.align-stretch {
    align-items: stretch;
  }
}


.flex-row {
  display: flex;
  display: -webkit-flex;
  flex-direction: row;

  @include flex-common();
}

.flex-col {
  display: flex;
  display: -webkit-flex;
  flex-direction: column;

  @include flex-common();
}


.flex-row-re {
  display: flex;
  display: -webkit-flex;
  flex-direction: row-reverse;

  @include flex-common();
}

.flex-col-re {
  display: flex;
  display: -webkit-flex;
  flex-direction: column-reverse;

  @include flex-common();
}

