@import "./variables.scss";
@import "./flex.scss";
@import "./transition/index.scss";
@import "//at.alicdn.com/t/font_1804572_ipvv2e0tjn.css";


.el-drawer__container div, .el-drawer__header span:focus {
  outline: 0;
}

.el-card__header {
  padding: 10px 20px !important;
  font-size: 14px;
}

body {
  height: 100%;
  margin: 0 auto;
  overflow: hidden;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
  font-family: Helvetica Neue, Helvetica, PingFang SC, Hiragino Sans GB, Microsoft YaHei, Arial, sans-serif;
}

.mt10 {
  margin-top: 10px;
}

.mb10 {
  margin-bottom: 10px;
}

.ml10 {
  margin-left: 10px;
}

.mr10 {
  margin-right: 10px;
}

.drawer-bg {
  background: #000;
  opacity: 0.3;
  width: 100%;
  top: 0;
  height: 100%;
  position: absolute;
  z-index: 100;
}
