.m-1 {
  margin: .25rem
}

.m-2 {
  margin: .5rem
}

.m-3 {
  margin: .75rem
}

.m-4 {
  margin: 1rem
}

.m-5 {
  margin: 1.25rem
}

.m-6 {
  margin: 1.5rem
}


.ml-1 {
  margin-left: .25rem
}

.ml-2 {
  margin-left: .5rem
}

.ml-3 {
  margin-left: .75rem
}

.ml-4 {
  margin-left: 1rem
}

.ml-5 {
  margin-left: 1.25rem
}

.ml-6 {
  margin-left: 1.5rem
}

.mt-1 {
  margin-top: .25rem
}

.mt-2 {
  margin-top: .5rem
}

.mt-3 {
  margin-top: .75rem
}

.mt-4 {
  margin-top: 1rem
}

.mt-5 {
  margin-top: 1.25rem
}

.mt-6 {
  margin-top: 1.5rem
}

.mb-1 {
  margin-bottom: .25rem
}

.mb-2 {
  margin-bottom: .5rem
}

.mb-3 {
  margin-bottom: .75rem
}

.mb-4 {
  margin-bottom: 1rem
}

.mb-5 {
  margin-bottom: 1.25rem
}

.mb-6 {
  margin-bottom: 1.5rem
}

.mtb-1 {
  margin: .25rem 0;
}

.mtb-2 {
  margin: .5rem 0;
}

.mtb-3 {
  margin: .75rem 0;
}

.mtb-4 {
  margin: 1rem 0;
}

.mtb-5 {
  margin: 1.25rem 0;
}

.mtb-6 {
  margin: 1.5rem 0;
}

.mlr-1 {
  margin: 0 .25rem;
}

.mlr-2 {
  margin: 0 .5rem;
}

.mlr-3 {
  margin: 0 .75rem;
}

.mlr-4 {
  margin: 0 1rem;
}

.mlr-5 {
  margin: 0 1.25rem;
}

.mlr-6 {
  margin: 0 1.5rem;
}