#app {
  .sidebar-wrapper {
    height: 100%;

    &.has-logo {
      height: calc(100% - #{$navBarHeight});
    }

    .sidebar-logo-container {
      transition: width 3s;
    }

    .menu-vertical {
      max-width: $sideBarWidth;
      height: 100%;
      border: 0;

      > .el-menu-item {
        //padding-left: 15px !important;
      }

      .el-tooltip, .el-submenu__title {
        //padding-left: 15px !important;
      }

      &.el-menu--collapse {
        width: $sideBarCollapseWidth;
      }

      &:not(.el-menu--collapse) {
        width: $sideBarWidth;
      }

      .sub-menu-wrapper {
        .el-menu-item {
          //min-width: $sideBarWidth !important;
        }

        > .el-menu-item {
          //padding-left: 15px !important;
        }
      }

      &.el-menu--collapse > div > .el-submenu > .el-submenu__title span {
        height: 0;
        width: 0;
        overflow: hidden;
        visibility: hidden;
        display: inline-block;
      }

      &.el-menu--collapse i[class^="el-icon-"] {
        /*font-size: 24px;*/
        transition: font-size .3s;
      }

      &.el-menu:not(.el-menu--collapse) i[class^="el-icon-"] {
        font-size: 18px;
        transition: font-size .3s;
      }

      &.el-menu--collapse > div > .el-submenu > .el-submenu__title .el-submenu__icon-arrow {
        display: none;
      }
    }

    .menu-horizontal {
      border-bottom: 0;

      .sub-menu-wrapper {
        float: left;

        .is-active {
          border-bottom: 2px solid #409eff;
        }
      }
    }

    .el-scrollbar {
      width: 100%;
      height: 100%;

      .el-scrollbar__view {
        height: 100%;
      }
    }
  }
}