body {
  font-size: 14px;
  line-height: 21px;
}

.text-primary {
  color: #303133;
}

.text-regular {
  color: #606266;
}

.text-secondary {
  color: #909399;
}

.text-placeholder {
  color: #C0C4CC;
}

.text-xl {
  font-size: 20px;
  line-height: 30px;
}

.text-lg {
  font-size: 18px;
  line-height: 27px;
}

.text-md {
  font-size: 16px;
  line-height: 24px;
}

.text-sm {
  font-size: 13px;
  line-height: 19.5px;
}

.text-xs {
  font-size: 12px;
  line-height: 18px;
}

.text-overflow{
  text-overflow: -o-ellipsis-lastline;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  line-clamp: 2;
  -webkit-box-orient: vertical;
}

//
//
//.border-base {
//  color: #DCDFE6;
//}
//
//.border-light {
//  color: #E4E7ED;
//}
//
//.border-lighter {
//  color: #EBEEF5;
//}
//
//.border-extra-lighter {
//  color: #F2F6FC;
//}