body {
  font-size: 14px;
  line-height: 21px;
}

.text-primary {
  color: #303133;
}

.text-regular {
  color: #606266;
}

.text-secondary {
  color: var(--el-text-color-regular);
}

.text-placeholder {
  color: #C0C4CC;
}

.text-xl {
  font-size: 20px;
  line-height: 30px;
}

.text-lg {
  font-size: 18px;
  line-height: 27px;
}

.text-md {
  font-size: 16px;
  line-height: 24px;
}

.text-df {
  font-size: 14px;
  line-height: 1.3;
}

.text-sm {
  font-size: 13px;
  line-height: 19.5px;
}

.text-xs {
  font-size: 12px;
  line-height: 18px;
}

.text-bo {
  font-weight: bolder;
}


.text-overflow {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-box-orient: vertical;
}



@for $i from 1 through 5 {
  .text-overflow-#{$i} {
    @extend .text-overflow;
    -webkit-line-clamp: #{$i};
    line-clamp: #{$i};
  }
}

@for $i from 1 through 5 {
  .h-#{$i} {
    height: #{1.3*$i}rem;
  }
}

